# Imports

# USE TENSORBOARD PLEASE CHRIST I CAN"T TELL ALL THE TRIALS RESULTS

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.regularizers import l2

import pickle
import psycopg2

/home/johnrivera/.virtualenvs/ds_reddit_build-L6udXIR8/lib/python3.7/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

# Read in data

In [2]:
with open("../database/secrets", "r") as file:
    secrets = [i.strip('\n') for i in file.readlines()]


def conn_curs():
    """
    makes a connection to the database dont worry these are dummy keys
    """

    connection = psycopg2.connect(dbname=secrets[4], user=secrets[4],
                                  password=secrets[5], host=secrets[6])
    cursor = connection.cursor()
    return connection, cursor

In [3]:
conn, curs = conn_curs()
df = pd.read_sql("SELECT * FROM posts", conn)

# Inspect

In [4]:
df.drop('id', axis=1, inplace=True)

In [5]:
df.shape

(23951, 2)

In [6]:
df.head()

                                                text subreddit
0  Thousand Year Blood War Arc Anime Adaptation M...    bleach
1  Burn The Witch - Chapter 4 Discussion Thread #...    bleach
2                            Let the journey begin.     bleach
3  Since Ichigos an English Literature major, thi...    bleach
4  I just made these Ulquiorra customs for a clie...    bleach

# Vectorize

In [7]:
le = LabelEncoder()
le.fit(df.subreddit.unique())

LabelEncoder()

In [8]:
le.classes_

array(['Animesuggest', 'AusLegal', 'BackYardChickens', 'BeardedDragons',
       'Bedbugs', 'Beekeeping', 'Berserk', 'BokuNoHeroAcademia',
       'CaptainTsubasaDT', 'CasualConversation', 'DDLC',
       'DecidingToBeBetter', 'Dragonballsuper', 'GetMotivated',
       'GiftIdeas', 'Gundam', 'Gunpla', 'INeedAName', 'IWantOut',
       'ImmigrationCanada', 'KissAnime', 'LegalAdviceUK', 'LifeProTips',
       'MLPLounge', 'NameThatSong', 'NoStupidQuestions', 'Petloss',
       'Pets', 'RBI', 'ShingekiNoKyojin', 'TooAfraidToAsk',
       'WouldYouRather', 'anime', 'answers', 'araragi', 'ask', 'asklaw',
       'ballpython', 'bettafish', 'bleach', 'cats', 'changemyview',
       'christmas', 'dbz', 'deathnote', 'declutter', 'dogs', 'ferrets',
       'findapath', 'getdisciplined', 'getting_over_it', 'guineapigs',
       'hamsters', 'help', 'ifyoulikeblank', 'immigration', 'legal',
       'legaladvice', 'legaladviceofftopic', 'leopardgeckos',
       'makemychoice', 'manga', 'needadvice', 'nosurf', 'parrots',
       'pestcontrol', 'productivity', 'resumes', 'selfhelp',
       'selfimprovement', 'shrimptank', 'snakes', 'tarantulas',
       'translator', 'ukvisa', 'whatisthisthing', 'whatsthatbook',
       'whatstheword', 'whatsthisbug', 'whatsthisplant', 'whatsthisworth'],
      dtype=object)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(df.text, le.transform(df.subreddit), test_size=0.33, random_state=42)

In [10]:
vect = TfidfVectorizer(max_df=.95, min_df=80)

In [11]:
vect.fit(X_train)

TfidfVectorizer(max_df=0.95, min_df=80)

In [12]:
train_df = pd.DataFrame(vect.transform(X_train).todense(), columns=vect.get_feature_names())
train_df.head()

,000,10,100,11,12,13,14,15,16,17,...,yet,you,young,younger,your,youre,yourself,youtu,youtube,zero
0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.099524,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.067477,0.0,0.0,0.046306,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.087335,0.0,0.0,0.0,...,0.0,0.072734,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [13]:
val_df = pd.DataFrame(vect.transform(X_test).todense(), columns=vect.get_feature_names())
val_df.head()

,000,10,100,11,12,13,14,15,16,17,...,yet,you,young,younger,your,youre,yourself,youtu,youtube,zero
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.041829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.053652,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Model

In [14]:
model = Sequential()
model.add(Dense(128, activation='relu', input_dim=train_df.shape[1]))
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(df.subreddit.nunique(), activation='softmax'))

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [15]:
model.fit(train_df.to_numpy(), y_train, batch_size=32, epochs=30, validation_data=(val_df.to_numpy(), y_test))

Epoch 1/30
502/502 [==============================] - 1s 3ms/step - loss: 3.3819 - accuracy: 0.1991 - val_loss: 2.4659 - val_accuracy: 0.3430
Epoch 2/30
502/502 [==============================] - 1s 3ms/step - loss: 2.1842 - accuracy: 0.4110 - val_loss: 2.2741 - val_accuracy: 0.3925
Epoch 3/30
502/502 [==============================] - 1s 3ms/step - loss: 1.8766 - accuracy: 0.4758 - val_loss: 2.2305 - val_accuracy: 0.4068
Epoch 4/30
502/502 [==============================] - 1s 3ms/step - loss: 1.6852 - accuracy: 0.5232 - val_loss: 2.2767 - val_accuracy: 0.4088
Epoch 5/30
502/502 [==============================] - 1s 3ms/step - loss: 1.5211 - accuracy: 0.5659 - val_loss: 2.3063 - val_accuracy: 0.4181
Epoch 6/30
502/502 [==============================] - 1s 3ms/step - loss: 1.3736 - accuracy: 0.6035 - val_loss: 2.3688 - val_accuracy: 0.4130
Epoch 7/30
502/502 [==============================] - 1s 3ms/step - loss: 1.2252 - accuracy: 0.6456 - val_loss: 2.4987 - val_accuracy: 0.4093
Epoch 8/30
502/502 [==============================] - 1s 3ms/step - loss: 1.0884 - accuracy: 0.6872 - val_loss: 2.6234 - val_accuracy: 0.4093
Epoch 9/30
502/502 [==============================] - 1s 3ms/step - loss: 0.9469 - accuracy: 0.7245 - val_loss: 2.8377 - val_accuracy: 0.4044
Epoch 10/30
502/502 [==============================] - 1s 3ms/step - loss: 0.8195 - accuracy: 0.7641 - val_loss: 3.0301 - val_accuracy: 0.3933
Epoch 11/30
502/502 [==============================] - 1s 3ms/step - loss: 0.6959 - accuracy: 0.8055 - val_loss: 3.2222 - val_accuracy: 0.3961
Epoch 12/30
502/502 [==============================] - 1s 3ms/step - loss: 0.5908 - accuracy: 0.8369 - val_loss: 3.5278 - val_accuracy: 0.3917
Epoch 13/30
502/502 [==============================] - 1s 3ms/step - loss: 0.4984 - accuracy: 0.8663 - val_loss: 3.7849 - val_accuracy: 0.3892
Epoch 14/30
502/502 [==============================] - 1s 3ms/step - loss: 0.4186 - accuracy: 0.8888 - val_loss: 4.0065 - val_accuracy: 0.3901
Epoch 15/30
502/502 [==============================] - 1s 3ms/step - loss: 0.3648 - accuracy: 0.9037 - val_loss: 4.3082 - val_accuracy: 0.3828
Epoch 16/30
502/502 [==============================] - 1s 3ms/step - loss: 0.3160 - accuracy: 0.9189 - val_loss: 4.6307 - val_accuracy: 0.3852
Epoch 17/30
502/502 [==============================] - 1s 3ms/step - loss: 0.2801 - accuracy: 0.9289 - val_loss: 4.8707 - val_accuracy: 0.3850
Epoch 18/30
502/502 [==============================] - 1s 3ms/step - loss: 0.2640 - accuracy: 0.9313 - val_loss: 4.9937 - val_accuracy: 0.3865
Epoch 19/30
502/502 [==============================] - 1s 3ms/step - loss: 0.2444 - accuracy: 0.9361 - val_loss: 5.3322 - val_accuracy: 0.3832
Epoch 20/30
502/502 [==============================] - 1s 3ms/step - loss: 0.2304 - accuracy: 0.9408 - val_loss: 5.4383 - val_accuracy: 0.3812
Epoch 21/30
502/502 [==============================] - 1s 3ms/step - loss: 0.2202 - accuracy: 0.9424 - val_loss: 5.6035 - val_accuracy: 0.3839
Epoch 22/30
502/502 [==============================] - 1s 3ms/step - loss: 0.2104 - accuracy: 0.9440 - val_loss: 5.7784 - val_accuracy: 0.3789
Epoch 23/30
502/502 [==============================] - 1s 3ms/step - loss: 0.2051 - accuracy: 0.9465 - val_loss: 6.0006 - val_accuracy: 0.3741
Epoch 24/30
502/502 [==============================] - 1s 3ms/step - loss: 0.2022 - accuracy: 0.9460 - val_loss: 5.9458 - val_accuracy: 0.3802
Epoch 25/30
502/502 [==============================] - 1s 3ms/step - loss: 0.1909 - accuracy: 0.9490 - val_loss: 6.0938 - val_accuracy: 0.3772
Epoch 26/30
502/502 [==============================] - 1s 3ms/step - loss: 0.1855 - accuracy: 0.9509 - val_loss: 6.2208 - val_accuracy: 0.3790
Epoch 27/30
502/502 [==============================] - 1s 3ms/step - loss: 0.1865 - accuracy: 0.9498 - val_loss: 6.2315 - val_accuracy: 0.3770
Epoch 28/30
502/502 [==============================] - 1s 3ms/step - loss: 0.1795 - accuracy: 0.9519 - val_loss: 6.3444 - val_accuracy: 0.3809
Epoch 29/30
502/502 [==============================] - 1s 3ms/step - loss: 0.1713 - accuracy: 0.9552 - val_loss: 6.3769 - val_accuracy: 0.3783
Epoch 30/30
502/502 [==============================] - 1s 2ms/step - loss: 0.1743 - accuracy: 0.9521 - val_loss: 6.3824 - val_accuracy: 0.3827

### Early findings: A simple nueral net seems to be competitive with a simple logistic regression. As more the conventional models, out of the box it seems that the models worth considering are SVM, LogReg, SGD. SVM is slow on training and predictions though.

In [16]:
model = Sequential()
model.add(Dense(128, activation='relu', kernel_regularizer=l2(0.003), input_dim=train_df.shape[1]))
model.add(Dropout(.2))
model.add(Dense(128, activation='relu', kernel_regularizer=l2(0.003)))
model.add(Dropout(.2))
model.add(Dense(64, activation='relu', kernel_regularizer=l2(0.003)))
model.add(Dropout(.2))
model.add(Dense(df.subreddit.nunique(), activation='softmax'))

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

model.fit(train_df.to_numpy(), y_train, batch_size=32, epochs=30, validation_data=(val_df.to_numpy(), y_test))

Epoch 1/30
502/502 [==============================] - 1s 2ms/step - loss: 4.4047 - accuracy: 0.0199 - val_loss: 4.1315 - val_accuracy: 0.0256
Epoch 2/30
502/502 [==============================] - 1s 2ms/step - loss: 4.0954 - accuracy: 0.0305 - val_loss: 4.0318 - val_accuracy: 0.0286
Epoch 3/30
502/502 [==============================] - 1s 2ms/step - loss: 4.0429 - accuracy: 0.0346 - val_loss: 4.0051 - val_accuracy: 0.0404
Epoch 4/30
502/502 [==============================] - 1s 2ms/step - loss: 4.0171 - accuracy: 0.0385 - val_loss: 3.9797 - val_accuracy: 0.0409
Epoch 5/30
502/502 [==============================] - 1s 2ms/step - loss: 3.9907 - accuracy: 0.0380 - val_loss: 3.9408 - val_accuracy: 0.0447
Epoch 6/30
502/502 [==============================] - 2s 3ms/step - loss: 3.9707 - accuracy: 0.0425 - val_loss: 3.9128 - val_accuracy: 0.0428
Epoch 7/30
502/502 [==============================] - 2s 3ms/step - loss: 3.9474 - accuracy: 0.0424 - val_loss: 3.9021 - val_accuracy: 0.0444
Epoch 8/30
502/502 [==============================] - 2s 3ms/step - loss: 3.9272 - accuracy: 0.0474 - val_loss: 3.8872 - val_accuracy: 0.0418
Epoch 9/30
502/502 [==============================] - 2s 3ms/step - loss: 3.9187 - accuracy: 0.0468 - val_loss: 3.8799 - val_accuracy: 0.0517
Epoch 10/30
502/502 [==============================] - 2s 3ms/step - loss: 3.9101 - accuracy: 0.0490 - val_loss: 3.8611 - val_accuracy: 0.0509
Epoch 11/30
502/502 [==============================] - 2s 3ms/step - loss: 3.8931 - accuracy: 0.0486 - val_loss: 3.8613 - val_accuracy: 0.0478
Epoch 12/30
502/502 [==============================] - 2s 4ms/step - loss: 3.8857 - accuracy: 0.0490 - val_loss: 3.8575 - val_accuracy: 0.0486
Epoch 13/30
502/502 [==============================] - 2s 3ms/step - loss: 3.8759 - accuracy: 0.0474 - val_loss: 3.8674 - val_accuracy: 0.0505
Epoch 14/30
502/502 [==============================] - 2s 3ms/step - loss: 3.8647 - accuracy: 0.0510 - val_loss: 3.8508 - val_accuracy: 0.0453
Epoch 15/30
502/502 [==============================] - 2s 3ms/step - loss: 3.8617 - accuracy: 0.0533 - val_loss: 3.8445 - val_accuracy: 0.0550
Epoch 16/30
502/502 [==============================] - 1s 3ms/step - loss: 3.8489 - accuracy: 0.0505 - val_loss: 3.8412 - val_accuracy: 0.0493
Epoch 17/30
502/502 [==============================] - 2s 3ms/step - loss: 3.8391 - accuracy: 0.0490 - val_loss: 3.8513 - val_accuracy: 0.0504
Epoch 18/30
502/502 [==============================] - 2s 3ms/step - loss: 3.8396 - accuracy: 0.0496 - val_loss: 3.8347 - val_accuracy: 0.0624
Epoch 19/30
502/502 [==============================] - 2s 3ms/step - loss: 3.8350 - accuracy: 0.0522 - val_loss: 3.8347 - val_accuracy: 0.0620
Epoch 20/30
502/502 [==============================] - 2s 3ms/step - loss: 3.8225 - accuracy: 0.0528 - val_loss: 3.8318 - val_accuracy: 0.0514
Epoch 21/30
502/502 [==============================] - 2s 3ms/step - loss: 3.8171 - accuracy: 0.0540 - val_loss: 3.8315 - val_accuracy: 0.0471
Epoch 22/30
502/502 [==============================] - 2s 3ms/step - loss: 3.8159 - accuracy: 0.0543 - val_loss: 3.8268 - val_accuracy: 0.0622
Epoch 23/30
502/502 [==============================] - 2s 3ms/step - loss: 3.7986 - accuracy: 0.0548 - val_loss: 3.8273 - val_accuracy: 0.0587
Epoch 24/30
502/502 [==============================] - 1s 3ms/step - loss: 3.7861 - accuracy: 0.0571 - val_loss: 3.7916 - val_accuracy: 0.0606
Epoch 25/30
502/502 [==============================] - 2s 4ms/step - loss: 3.7502 - accuracy: 0.0691 - val_loss: 3.7708 - val_accuracy: 0.0767
Epoch 26/30
502/502 [==============================] - 2s 3ms/step - loss: 3.7090 - accuracy: 0.0824 - val_loss: 3.6869 - val_accuracy: 0.0994
Epoch 27/30
502/502 [==============================] - 2s 3ms/step - loss: 3.6577 - accuracy: 0.0886 - val_loss: 3.6380 - val_accuracy: 0.1094
Epoch 28/30
502/502 [==============================] - 2s 3ms/step - loss: 3.6183 - accuracy: 0.1032 - val_loss: 3.6013 - val_accuracy: 0.1132
Epoch 29/30
502/502 [==============================] - 2s 3ms/step - loss: 3.5875 - accuracy: 0.1087 - val_loss: 3.5809 - val_accuracy: 0.1235
Epoch 30/30
502/502 [==============================] - 2s 3ms/step - loss: 3.5640 - accuracy: 0.1147 - val_loss: 3.5565 - val_accuracy: 0.1322

# IF YOU WANT TO USE NN PICKLE LABEL ENCODER, REMEMBER TO MAKE A PREDICT FUNCTION FOR WHATEVER MODEL YOU CHOOSE